.App {
  display: flex;
  flex-direction: row;
}

.letter {
  border-bottom: 1px solid black;
  user-select: none;
  margin-right: 8px;
  width: 16px;
  text-align: center;
}

.letter.white {
  color: white;
}
